<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljr.weibo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ljr.weibo.domain.User">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="loginname" jdbcType="VARCHAR" property="loginname" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="registertime" jdbcType="DATE" property="registertime" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, userid, loginname, username, realname, age, sex, address, phone, email, registertime, 
    salt, `password`, imgurl
  </sql>
  <update id="updateUserIconByUid">
    update sys_user set imgurl=#{icon}
    where userid=#{uid}
  </update>
  <select id="findUserIconByUid" resultType="java.lang.String">
    select imgurl from sys_user
    where userid=#{uid}

  </select>
  <select id="queryOtherUserByUidAndType" resultType="java.lang.Integer">
      select aid from sys_relationship
      where  uid=#{id}  and type=#{type}
  </select>
    <select id="queryMyLikeByUidAndNid" resultType="java.lang.Integer">
      select COUNT(1) from sys_user_like
      where  uid=#{uid} and nid=#{nid}
    </select>
  <insert id="insertRelationship">
    insert into sys_relationship(uid, aid, type) values (#{uid} ,#{aid} ,#{type} )
  </insert>

  <delete id="deleteRelationship" >
    delete from sys_relationship
    where uid=#{uid} and aid=#{aid} and type=#{type}
  </delete>

  <select id="queryRelationship" resultType="java.lang.Integer">
      select COUNT(1) from sys_relationship
      where  uid=#{uid} and aid=#{aid} and type=#{type}

  </select>
</mapper>